{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .login-form {
    max-width: 400px;
    margin: 0 auto;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form .form-group {
    margin-bottom: 20px;
}
</style>
<div class="container">
    <h2 class="text-center">Reset Password</h2>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}




